<div class="page-wrap about">
  <h1> About Hidden Gems </h1>

  <p> Tired of the Eiffel Tower, The Statue of Liberty, Buckingham Palace? 
  Tired of being pushed around by sweaty tourists with their selfie sticks? 
  Tired of being let down by overhyped tourist destinations?</p>
  <br>
  <p>Welcome to Hidden Gems, where you’ll discover precious diamonds of destinations, without the effort of digging. 
  Our spots are added by our very own users, locals that know every nook and cranny of their hometowns. 
  We want to help you on your journey towards becoming a Gem Master, discovering and conquering the multitude of hidden gems the world has to offer.</p>
  <br>
  <p>Ready to begin your quest? </p>
  <p><%= button_to "Register Here!", "/signup", method: :get %></p>

</div>

