<<<<<<< HEAD
<div class="main-header">
=======


<header class="main-header role="banner">
>>>>>>> a6ba990bf1e5386138afd0687af075630d0b6fe0
  <%= image_tag("banner1.jpg", class:"banner-image") %>
  <h1 class="centered">Hidden Gems</h1>
</div>
<br>
<br>
<div class="page-wrap">
  <h2>Most Popular Locations</h2>
    <% Location.top_five_locations.each do |t| %>
      <div><%= link_to t.name, location_path(t) %></div>
      <img src= <%= t.image_url %>>
    <% end %>
</div>
