

<header class="main-header role="banner">
  <%= image_tag("banner1.jpg", class:"banner-image") %>
  <h1 class="centered">Hidden Gems</h1>
</div>
<br>
<br>


<div class="page-wrap">
  <div class="container-text">
      <h1>Want a little taste?</h1>
      <h1>Here are some of our users' favorite hidden gems!</h1>
  </div>
  <br>


      <% Location.top_five_locations.each do |t| %>
      <div class="fav-locations">
        <img src= <%= t.image_url %>>
        <div class="middle">
          <div class="text"><%= link_to t.name, location_path(t) %></div>
        </div>
      </div>
      <% end %>
    </div>
</div>
