<link rel="stylesheet" href="application.css">



<div class="page-wrap">

  <h1>Hidden Gems</h1>
  <h2>Most Popular Locations</h2>

  <% Location.top_five_locations.each do |t| %>
      <div><%= link_to t.name, location_path(t) %></div>
  <% end %>
</div>
