<h1>Welcome to Hidden Gems</h1>

<h2>Most Popular Locations</h2>
<% Location.top_five_locations.each do |t| %>
    <div class="home-locations">
        <%= link_to t.name, location_path(t) %>
        <img src=<%=t.image_url%> >
    </div>
<% end %>
