*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: "Optima";
}
.page-wrap {
  margin: auto;
  text-align: center;
  font-size: 30px
}

.page-wrap h1 {
    padding: 0px;
    color: #1abc9c;
    font-size: 30px;
}

.page-wrap h2 {
    padding: 0px;
    color: white;
    font-size: 30px;



/* .nav-bar {
    display:flex;
    justify-content: space-between;
} */

.nav-bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a8caff;
    color: white;
    height: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.nav-bar a:hover{
    background-color:#85aeed;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.nav-bar ul li{
    position: relative;
    width: 100%;
    text-align: center;
}

.nav-bar li:hover .dropdown li{
    top: 0;
    display: block;
}

.dropdown li {
    display: none;
    position: relative;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right a {
    background:#d3cfff;
}

.right a:hover {
    background: #b4adff;
}
