<h1>Hidden Gems</h1>
<ul>
<% @locations.each do |loc| %>
    <li><%= link_to loc.name, location_path(loc) %></li>
<% end %>
</ul>

<h3>Know any hidden gems to visit?</h3>
<%= button_to "Add Hidden Gem!", new_location_path, method: :get %>